/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* белый #FFFFFF */
/* акцентный цвет #2196F3 */

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color:#2196F3;
    --white: #FFFFFF;
    --background:#2F303A ;
    --background-about:#E5E5E5;
    --background-team:#F5F4FA;
}

body {
    background-color:var(--background-about);
    color: var(--title-text-color);
}

/* header */

.header {
    background-color: var(--white);
}
.header-logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: var(--accent-color);
}

.header-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;

        color: var(--primary-text-color);
}

.header-link-current {
    color: var(--accent-color);
}


.contacts-link:hover,
.header-link:hover {
    color: var(--accent-color);
}

.contacts-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em; 
        color: var(--title-text-color);
}

.contacts-link:focus {
    color: black;
}

/* hero */

.hero-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: var(--white);
        
}

.hero-button {
    cursor: pointer;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: var(--white);
        background-color: var(--accent-color);
}

.hero {
    background-color: var(--background);
}


/* about */

.about {
    background-color: var(--background-about);
}
.about-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--primary-text-color);
}

/* what-we-do */

.what-we-do-title,
.team-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align:  center;
        letter-spacing: 0.03em;
    
        color: var(--primary-text-color);
}

/* team */

.team {
    background-color: var(--background-team);
}

.team-title-name {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: var(--primary-text-color);

}

/* footer */
.footer-logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: var(--accent-color);
}

.footer-link:hover {
    color: var(--white);
}
/* portfolio */
.portfolio-title {
    color: var(--primary-text-color);
}

.portfolio-filter-btn {
    color: var(--primary-text-color);
}

.portfolio-filter-btn:hover {
    background-color: var(--accent-color);
    color: var(--white);
}

.portfolio-filter-btn:focus {
    background: var(--accent-color);
    color: var(--white);
}

.footer {
    background-color: var(--background);
}

.footer-address-link {
    color: var(--white);
    font-style:normal;
}

.footer-contacts-item > a {
    color: rgba(255, 255, 255, 0.6);
}

